th {
    box-shadow: -3px 0px 3px 0px rgba(166, 130, 0, 1);
    text-transform: uppercase;
    font-family: 'Arimo';
    color: #655209;
    padding: 20px;
}
tr:nth-child(n+3):nth-child(even) {
    background-color: #FFE173;
}
tr:nth-child(n+3):nth-child(odd) {
    background-color: #FFD640;
}
.title {
    background-color: #BFA130;
    vertical-align: middle;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}
.table {
    border: 20px solid rgb(55, 71, 101);
    margin: 0 auto;
    width: 1192px;
    height: 715px;
}
.plan {
    font-size: 30px;
}
.green {
    background-color: #7D71D8;
    color: white;
    font-weight: 700;
    font-size: 24px;
    height: 70px;
}
.red {
    background-color: #150873;
    color: white;
    font-weight: 700;
    font-size: 24px;
    height: 70px;
}
.blue {
    background-color: #2A17B1;
    color: white;
    font-weight: 700;
    font-size: 24px;
    height: 70px;
}
.icon {
    font-size: 60px;
    font-weight: 700;
}
.index {
    vertical-align: super;
    font-size: 24px;
}
.fas {
    color: #A68200;
    margin-right: 10px;
    font-size: 24px;
}
.button {
    width: 180px;
    height: 49px;
    border-radius: 5px;
    display: inline-block;
    background-color: #7D71D8;
    color: white;
    font-weight: 700;
    padding: 15px;
}
.button_black {
    background-color: #392E85;
}
.button:hover {
    cursor: pointer;
    transition: 0.5s;
    background-color: #150873;
}
.button_black:hover {
    background-color: rgb(176,176,176) ;
    color: black;
}
.button.red_color {
    background-color: #150873;
}
.button.red_color:hover {
    background-color: #7D71D8;
}
.button.blue_color {
    background-color: #2A17B1;
}
.button.blue_color:hover {
    background-color: #6899D3;
}
.bg-theme {
    background-color: #BFA130;
}
